html {
    padding-top: 4rem;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}

.button-col {
    width: 30%;
    text-align: center;
}

.button-col .input-group {
    justify-content: center;
}